In [2]:
import requests
import pandas as pd
from datetime import datetime 
import json

# Get Allocations

In [54]:
def get_anastasia_allocation():
    sent = requests.get('https://api.ethplorer.io/getAddressInfo/0x9C49c053a8b9106024793516EE3c5562875A5C9a?apiKey=freekey').json()

    data = {'Symbol' : ['ETH'], 'Value' : [sent['ETH']['balance'] * sent['ETH']['price']['rate']]}
    df = pd.DataFrame(data, dtype=float)

    tokens = sent['tokens']
    for token in tokens:
        if token['tokenInfo']['price'] != False:
            newRow = {'Symbol' : token['tokenInfo']['symbol'], 'Value' : token['balance'] * token['tokenInfo']['price']['rate'] / 10 ** (int(token['tokenInfo']['decimals']))}
            df = df.append(newRow, ignore_index=True)
   
    df['Value'] = 100*(df['Value']/df['Value'].sum())
    df = df.set_index('Symbol')
    
    return df

get_anastasia_allocation()

In [5]:
def get_malta_allocation():
    jsonData = '{"query": "{fundHoldings(where: {fund: \\"0x26491fc7da30b35d818de45982fb1de4f65ed8f5\\"}){asset {id}, assetGav}}"}'
    data = requests.post('https://api.thegraph.com/subgraphs/name/melonproject/melon', data = jsonData).json()['data']

    assetDict = {
        '0x0d8775f648430679a709e98d2b0cb6250d2887ef': 'BAT',
        '0x1f9840a85d5af5bf1d1762f925bdaddc4201f984': 'UNI',
        '0x2260fac5e5542a773aa44fbcfedf7c193bc2c599': 'WBTC',
        '0x408e41876cccdc0f92210600ef50372656052a38': 'REN',
        '0x514910771af9ca656af840dff83e8264ecf986ca': 'LINK',
        '0x607f4c5bb672230e8672085532f7e901544a7375': 'RLC',
        '0x960b236a07cf122663c4303350609a66a7b288c0': 'ANT',
        '0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2': 'MKR',
        '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2': 'ETH',
        '0xe41d2489571d322189246dafa5ebde1f4699f498': 'ZRX',
        '0xec67005c4e498ec7f55e092bd1d35cbc47c91892': 'MLN',
        '0x0f5d2fb29fb7d3cfee444a200298f468908cc942': 'MANA',
        '0xdd974d5c2e2928dea5f71b9825b8b646686bd200': 'KNC'
    }

    assets = []
    nav = []

    for i in range(len(data['fundHoldings'])):
        assets.append(assetDict[data['fundHoldings'][i]['asset']['id']])
        nav.append(int(data['fundHoldings'][i]['assetGav']) / 1e18)

    df = pd.DataFrame({'Symbol': assets,'Value': nav}, dtype=float)
    df['Value'] = 100*(df['Value']/df['Value'].sum())
    df = df.set_index('Symbol')
    
    df_real = 
    
    
    return df, df_real

get_malta_allocation()

            Value
Symbol
BAT      9.314908
MANA     0.443559
UNI     10.140165
WBTC    26.883967
REN      3.449691
LINK     4.369654
RLC      7.111466
ANT      0.000000
MKR     10.029084
ETH     15.514051
KNC      8.074051
ZRX      0.975019
MLN      3.694386

In [59]:
def get_insula_allocation():
    sent = requests.get('https://api.ethplorer.io/getAddressInfo/0xCB60D600160D005845Ec999f64266D5608fd8943?apiKey=freekey').json()

    data = {'Symbol' : ['ETH'], 'Value' : [sent['ETH']['balance'] * sent['ETH']['price']['rate']]}
    df = pd.DataFrame(data)

    tokens = sent['tokens']
    for token in tokens:
        if token['tokenInfo']['price'] != False:
            newRow = {'Symbol' : token['tokenInfo']['symbol'], 'Value' : token['balance'] * token['tokenInfo']['price']['rate'] / 10 ** (int(token['tokenInfo']['decimals']))}
            df = df.append(newRow, ignore_index=True)

    df['Value'] = 100*(df['Value']/df['Value'].sum())
    df = df.set_index('Symbol')
    
    return df

get_insula_allocation()

            Value
Symbol
ETH     16.091233
TUSD     0.000501
DATA     0.000002
BAT      0.193607
POE      0.007972
ABYSS    0.000039
MANA     0.071867
GRID     0.004677
REP      0.125111
APPC     0.013359
BNT      0.112629
UNI     15.400509
WBTC     4.427252
C20      0.002519
AST      0.415890
OST      0.070961
REN      0.397543
CVC      0.050359
MNE     45.889678
CETH     0.000573
LINK     0.953350
BLZ      0.285085
POWR     0.123058
VGX      0.191399
ISLA     3.280562
DTA      0.160412
SNT      0.149626
VERI     0.003329
REQ      0.134602
POLY     0.295501
MKR      0.022393
EKO      0.232351
TKN      0.022978
XCHF     0.000405
STORJ    0.006549
ABT      0.054078
ELF      0.070535
WETH     0.000097
KICK     0.176942
KNC     10.105752
ZRX      0.053389
MLN      0.225763
ENG      0.080007
ENJ      0.095561

# Compute Future Allocation Table

In [181]:
def arrange_future_allocation():
    max_sharpe_port = pd.read_csv('../optimization/max_sharpe_port.csv')
    max_sharpe_port.columns = ['Symbol', 'Value']
    max_sharpe_port = max_sharpe_port[max_sharpe_port.index.values >2]
    max_sharpe_port['Symbol'] = max_sharpe_port.apply(lambda x: x.Symbol[:-4], axis=1)
    max_sharpe_port['Value'] = max_sharpe_port.apply(lambda x: 100*x.Value, axis=1)
    max_sharpe_port = max_sharpe_port.set_index('Symbol')
    
    return max_sharpe_port

future = arrange_future_allocation()
future

            Value
Symbol
BNT      2.197950
SNT     48.375083
ENJ      7.428037
LEND     2.853521
LRC     21.486251
POWR    16.748537
ETH      0.910621

In [230]:
# Outer merge of future and current allocations
malta = get_malta_allocation()

merged_allocations = pd.merge(malta, future, on= 'Symbol', how = 'outer').fillna(0)
merged_allocations.columns = ['current', 'future']

In [226]:
malta = get_malta_allocation()
malta

            Value
Symbol
BAT      1.408895
MANA     1.157275
UNI      9.379518
WBTC    13.203005
REN     11.235252
LINK    13.752686
RLC      0.461430
ANT      0.000000
MKR      2.196933
ETH     35.103793
KNC      0.521633
ZRX      2.284804
MLN      9.294776

In [256]:
merged_allocations['current'] = merged_allocations.apply(lambda x: round(x['current'],1), axis=1)
merged_allocations['future'] = merged_allocations.apply(lambda x: round(x['future'],1), axis=1)
merged_allocations

sum_current = round(merged_allocations['current'].sum(),1)
sum_future = round(merged_allocations['future'].sum(),1)
diff = round(sum_current - sum_future, 1)

if diff !=0:
    symbol = merged_allocations['current'].argmax()
    merged_allocations.loc[symbol]['current'] = merged_allocations.loc[symbol]['current'] - diff
    
    #[merged_allocations['current'] == merged_allocations['current'].max()]['current'] = merged_allocations[merged_allocations['current'] == merged_allocations['current'].max()]['current'].values - diff

merged_allocations

        current  future
Symbol
BAT         1.4     0.0
MANA        1.2     0.0
UNI         9.4     0.0
WBTC       13.2     0.0
REN        11.2     0.0
LINK       13.8     0.0
RLC         0.5     0.0
ANT         0.0     0.0
MKR         2.2     0.0
ETH        35.0     0.9
KNC         0.5     0.0
ZRX         2.3     0.0
MLN         9.3     0.0
BNT         0.0     2.2
SNT         0.0    48.4
ENJ         0.0     7.4
LEND        0.0     2.9
LRC         0.0    21.5
POWR        0.0    16.7

In [259]:
import csv
import pandas as pd

def match(buy, sell):
    for i in range(len(buy)):
        found = False
        for k in range(len(sell)):
            if buy.iloc[i]['Change Left'] == -sell.iloc[k]['Change']:
                buy.iloc[i]['With'].append((sell.iloc[k]['Symbol'], int(buy.iloc[i]['Change Left'])))
                buy.at[i, 'Change Left'] = 0
                sell = sell.drop(k)
                break
    return buy.sort_values(by='Change Left', ascending=False).reset_index(drop=True), sell.sort_values(by='Change', ascending=True).reset_index(drop=True)

def groupMatch(buy, sell):
    for i in range(len(buy)):
        found = False
        for k in range(len(sell)):
            for j in range(k, len(sell)):
                if k != j and k < len(sell) and j < len(sell):
                    if -buy.iloc[i]['Change Left'] == sell.iloc[k]['Change'] + sell.iloc[j]['Change']:
                        buy.iloc[i]['With'].append(sell.iloc[k]['Symbol'])
                        buy.iloc[i]['With'].append(sell.iloc[j]['Symbol'])
                        buy.at[i, 'Change Left'] = 0
                        sell = sell.drop(k)
                        sell = sell.drop(j)
                        break
    return buy.sort_values(by='Change Left', ascending=False).reset_index(drop=True), sell.sort_values(by='Change', ascending=True).reset_index(drop=True)

def bucket(buy, sell):
    max_buy, max_sell = max(buy['Change Left']), -min(sell['Change'])
    if max_buy > max_sell:
        buy.iloc[0]['With'].append((sell.iloc[0]['Symbol'], -int(sell.iloc[0]['Change'])))
        buy.at[0, 'Change Left'] = max_buy - max_sell
        sell = sell.drop(0)
    else:
        buy.iloc[0]['With'].append((sell.iloc[0]['Symbol'], int(buy.iloc[0]['Change Left'])))
        buy.at[0, 'Change Left'] = 0
        sell.at[0, 'Change'] = max_buy - max_sell
    return buy.sort_values(by='Change Left', ascending=False).reset_index(drop=True), sell.sort_values(by='Change', ascending=True).reset_index(drop=True)

def setup(merged_allocations):
    buy, sell = pd.DataFrame(), pd.DataFrame()
    
    for index, x in merged_allocations.iterrows():
        if x['current'] == x['future']:
            pass
        elif x['current'] - x['future'] > 0:
            sell = sell.append(({'Symbol' : x.name, 'Change' : int(x['future']*10) - int(x['current']*10)}), ignore_index=True)
        else:
            buy = buy.append(({'Symbol' : x.name, 'Change Left' : int(x['future']*10) - int(x['current']*10), 'With' : []}), ignore_index=True)
    
    return buy.sort_values(by='Change Left', ascending=False).reset_index(drop=True), sell.sort_values(by='Change', ascending=True).reset_index(drop=True)    

def opt(buy, sell):
    while(len(sell) != 0): # for i in range(30):#
        buy, sell = match(buy, sell)
        if(len(sell) == 0):
            break
        buy, sell = bucket(buy, sell)

In [260]:
buy, sell = setup(merged_allocations)
display(buy.sort_values(by='Symbol'))
display(sell.sort_values(by='Symbol'))
opt(buy, sell)
display(buy.sort_values(by='Symbol'))

   Change Left Symbol With
5         22.0    BNT   []
3         74.0    ENJ   []
4         29.0   LEND   []
1        215.0    LRC   []
2        167.0   POWR   []
0        484.0    SNT   []

    Change Symbol
8    -14.0    BAT
0   -341.0    ETH
11    -5.0    KNC
1   -138.0   LINK
9    -12.0   MANA
7    -22.0    MKR
5    -93.0    MLN
3   -112.0    REN
10    -5.0    RLC
4    -94.0    UNI
2   -132.0   WBTC
6    -23.0    ZRX

   Change Left Symbol                                               With
5          0.0    BNT                                        [(MKR, 22)]
3         74.0    ENJ                                        [(MLN, 74)]
4         29.0   LEND                             [(UNI, 17), (BAT, 12)]
1        215.0    LRC                           [(LINK, 138), (UNI, 77)]
2        167.0   POWR               [(WBTC, 132), (ZRX, 23), (MANA, 12)]
0        484.0    SNT  [(ETH, 341), (REN, 112), (MLN, 19), (RLC, 5), ...

In [153]:
keys_datetime

[Timestamp('2020-11-15 00:00:00')]

In [152]:
 pd.to_datetime(keys[0])

Timestamp('2020-11-15 00:00:00')

In [158]:
(today - keys_datetime[0]).total_seconds()

604800.0

In [167]:
key = keys[diff_second.index(min(diff_second))]
key

'2020-11-15'